<ion-card>
  <ion-card-header>
    <ion-card-title>Canada COVID-19 Summary</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Last Updated:</strong> June 20, 2025</p>
    <p><strong>Total Cases:</strong> 4.8M+</p>
    <p><strong>Total Deaths:</strong> 55,000+</p>
    <p><strong>Vaccinations:</strong> 90%+</p>
    <p><a href="https://health-infobase.canada.ca/covid-19/epidemiological-summary-covid-19-cases.html#a1" target="_blank">Source</a></p>
  </ion-card-content>
</ion-card>
