.white-text {
  color: #fff !important;
}
.summary-card p {
  margin-bottom: 8px;
  font-size: 1.05em;
}
.summary-card strong {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.summary-card span {
  font-weight: 400;
  margin-left: 4px;
}