<ion-header>
  <ion-toolbar>
    <ion-title>Ontario Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ontario-status></app-ontario-status>
</ion-content>

<ion-content>
  <ion-list *ngIf="records.length > 0; else loading">
    <ion-item *ngFor="let item of records" (click)="goToDetail(item)">
      <ion-label>
        <h2>{{ item.name || item.public_health_unit }}</h2>
        <p>{{ item.date || item.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p class="ion-text-center">Loading records...</p>
  </ng-template>
</ion-content>